# 1. Inventory Price Calculator

In [1]:
def calculate_inventory_summary(price):
    total_price=0
    for i in price:
        total_price += i 

    average = total_price/len(price)    
    return total_price , average

In [2]:
listOfPrices = [120, 250, 399, 150] 
result= calculate_inventory_summary(listOfPrices)
print(result)

(919, 229.75)

# 2. Unique Visitor Tracker

In [3]:
def count_unique_visitors(visitor_list):
    unique_visitor = []

    for num in visitor_list:
        if num not in unique_visitor:
            unique_visitor.append(num) 

    return unique_visitor

In [4]:
visitors = [101, 205, 101, 310, 205, 550]
unique_ids = count_unique_visitors(visitors)

print(f"total unique visitors {len(unique_ids)} and they are {unique_ids}" )

total unique visitors 4 and they are [101, 205, 310, 550]

# 3. Product Category Counter

In [7]:
def count_categories(products):
    category_cout = {}

    for itm in products:
        if itm in category_cout:
            category_cout[itm] += 1

        else:
            category_cout[itm] = 1 

    return category_cout

In [8]:
items = ["Laptop", "Smartphone", "Monitor", "Laptop", "Smartphone", "Headphones", "Laptop"] 
count_categories(items)

{'Laptop': 3, 'Smartphone': 2, 'Monitor': 1, 'Headphones': 1}

# 4. Temperature Analytics

In [9]:
def analyze_temperatures(temp_list):
    high_list = []
    normal_list = [] 

    for temp in temp_list:
        if temp <= 38:
            normal_list.append(temp) 
        else:
            high_list.append(temp) 
    return high_list,normal_list

In [11]:
temp_list = [36.5, 38.0, 39.1, 37.2, 40.5, 38.0, 37.9]
high_temp_list , normal_tmp_list = analyze_temperatures(temp_list)

In [14]:
print(f"High_list (>38c): {high_temp_list} \n Normal List(<38 c) : {normal_tmp_list} \n Full output Tuple : {high_temp_list,normal_tmp_list} "  )

High_list (>38c): [39.1, 40.5]
 Normal List(<38 c) : [36.5, 38.0, 37.2, 38.0, 37.9]
 Full output Tuple : ([39.1, 40.5], [36.5, 38.0, 37.2, 38.0, 37.9])

# 5. Menu Price Lookup

In [15]:
def get_price(menu, item):
    if item in menu:
        return menu[item]
    else:
        return "item not found"

In [16]:
menu = {"Coffee": 3.50, "Tea": 2.75, "Muffin": 4.00, "Sandwich": 8.50}
print(get_price(menu, "Muffin"))

4.0

In [17]:
print(get_price(menu, "Donut"))

item not found

# 6. Student Grading System

In [18]:
def calculate_grade(score):
    if score >=80:
        return "A+"
    elif score >= 70:
        return "A" 
    elif score >= 60:
        return "A-" 
    else:
        return "F"

In [19]:
def students_grade(std_dict):
    grd_dict = {}

    for student , score in std_dict.items():
        grd_dict[student] = calculate_grade(score)  

    return grd_dict

In [20]:
scores = {"Alice": 85, "Bob": 78, "Charlie": 32, "David": 69}
grades = students_grade(scores)
print(grades)

{'Alice': 'A+', 'Bob': 'A', 'Charlie': 'F', 'David': 'A-'}

# 7. Discount Calculator

In [1]:
def apply_discou(products):
    updated_prices = []

    for name , price, discount in products:
        new_price = price - (price * discount/100)
        updated_prices.append(new_price) 

    return updated_prices

In [2]:
items = [
    ("Keyboard", 80.00, 20),
    ("Mouse", 25.00, 10),
    ("Monitor", 300.00, 5)
]

apply_discou(items)

[64.0, 22.5, 285.0]

# 8. Hashtag Generator

In [3]:
def generate_hashtags(sentence):
    words = sentence.lower().split()

    hashtags = [] 

    for w in words:
        hashtags.append("#" + w)

    return hashtags

In [4]:
text = "AI Data Science"
generate_hashtags(text)

['#ai', '#data', '#science']

# 9. User Authentication Mock

In [5]:

credentials = {
    "aman":"aman1234",
    "jaman":"jaman1234",
    "salam": "salam1234"

}

def login(username, password):

    if username in credentials:
        if credentials[username] == password:
            return "Login Successful"
        else: 
            return "Invalid Credentials"
    else:
        return "Invalid Credentials"

In [6]:
login("aman","aman1234")

'Login Successful'

In [7]:
login("aman","amano")

'Invalid Credentials'

# 10. Shopping Cart Bill Calculator

In [8]:
def calculate_total(cart,prices):
    total = 0 

    for itm in cart:
        if itm in prices:
            total += prices[itm]
        else:
            total += O 

    return total

In [9]:
cart = ["Milk", "Bread", "Milk", "Cheese", "Bread"]
prices = {"Milk": 3.00, "Bread": 2.50, "Eggs": 4.00, "Cheese": 5.00}

In [10]:
calculate_total(cart,prices)

16.0